.weather {
  margin: 0px auto;
  padding-bottom: 30px;
  width: 80vw;
  max-width: 650px;
  padding: 0px 25px;
}

.weather .title {
  font-size: 4rem;
  display: flex;
  margin-bottom: 5%;
  justify-content: center;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.weather form {
  display: flex;
  flex-direction: column;
}

.weather form input {
  width: 92%;
  padding: 10px;
  margin: 10px auto;
  font-size: 20px;
  border: 2px solid rgb(2, 57, 88);
  border-radius: 10px;
}

.weather form input:focus {
  outline: none;
  border: 3px solid rgb(2, 57, 88);
}

.weather .getweather {
  margin: 10px;
  padding: 8px;
  font-size: 1.3rem;
  border-radius: 20px;
  border: 2px solid black;
  background: rgb(2, 57, 88, 0.8);
  cursor: pointer;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
}

.weather .getweather:hover {
  background: transparent;
  color: black;
}

.weather .getweather:focus {
  outline: none;
}

@media (max-width: 500px) {
  .weather .title {
    font-size: 2.5rem;
  }
}
